body{
font-family: Arial;
text-align:center;
background:#f2f2f2;
}

input{
padding:8px;
margin:5px;
}

button{
padding:8px 12px;
}

li{
background:white;
margin:5px;
padding:8px;
list-style:none;
}